* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

input,
textarea {
    outline: none;
}


.header {
    color: #af0e4b;
}

.container {
    background: url(../img/image-background.png) no-repeat center/ cover;

    position: relative;
}

/* Лого и соцсети */
nav {
    padding-left: 7%;
    /* width: 500px; */
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.social-media {
    padding-left: 75px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.social-media a {
    margin-right: 20px;
}

/* Навигация и слоганы */
.offer {
    position: relative;
    padding-left: 7%;
    min-width: 600px;
    margin-top: 1.4rem;
    display: flex;

}

.offer-nav {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Gotham Pro";
}

.nav {
    min-width: 295px;
    padding: 1.4rem 0;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(134, 5, 54, 0.4);
    border-radius: 35px;
    letter-spacing: 1.5px;
}

/* Слоганы */

.slogan-container {
    padding-top: 0;
    margin-left: 25px;
    width: 600px;
    font-family: "Noteworthy";
}

.slogan-l {
    font-size: 4.4rem;
    text-align: left;
    line-height: 1.7;
}

.slogan-m {
    margin-top: 20px;
    font-size: 2rem;
    color: rgb(26, 26, 30);
    line-height: 2.5;
}

.slogan-s {
    margin-top: 25px;
    font-weight: 700;
    font-size: 1.5rem;
}

/* Подробнее/ хочу попробовать */
.try-more-container {
    margin-left: 7%;
    padding: 50px 0;
    display: flex;
    font-size: 18px;
    font-family: "Gotham Pro";
}

.wanna-try {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wanna-try img {
    margin-left: 10px;
    margin-top: 1px;
}

.more-info {
    margin-left: 20px;
    width: 295px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    border: 5px solid #af0e4b;
    background-image: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-family: "Gotham Pro";
    padding: 17px 0;
}

/* Зачем вам нужен тест на менопаузу? */

.why {
    margin-top: 30px;
}

.why-title {
    display: flex;
    justify-content: center;
    font-family: "Noteworthy";
    font-size: 2.5rem;
}

.why-title span {
    color: #af0e4b;
}

.answer-container {
    margin: 0 5%;
    margin-top: 25px;
    display: flex;
}

.answer-box {
    min-width: 400px;
    width: 600px;
    text-align: center;
}

.answer-title {
    font-family: "Gotham Pro";
    font-size: 1.5rem;
    font-weight: 500;
}

.answer-title span {
    color: #af0e4b;
}

.answer-text-outer {
    background: url(../img/ellipse.png) no-repeat center /contain;
}

.answer-text {
    height: 380px;
    padding-top: 80px;
    font-family: "Gotham Pro";
    font-weight: 200;
    font-size: 1.2em;
    position: relative;
}

.answer-text span {
    color: #af0e4b;
    font-weight: 400;
}

/* Что нужно знать о менопаузе */

.about-container {
    padding: 110px 3%;
    background: #ededed;
    color: rgb(26, 26, 30);
}

.what-need-to-know {
    display: flex;

}

.what-need-to-know-text {
    margin-left: 10%;
}

.what-need-to-know-description {
    width: 70%;
}

.what-need-to-know img {
    height: 150px;
    position: relative;
    top: 100px;
}

.title {
    font-size: 2.5rem;
    font-family: "Noteworthy";
    text-align: left;
}

.title span {
    color: #af0e4b;
}

.description {
    margin-top: 20px;
    font-size: 1rem;
    font-family: "Gotham Pro";
    font-weight: 100;
}

/* Пременопауза */

.premenopause {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.premenopause img {
    height: 245px;
    position: relative;
    bottom: -20px;
    left: -40px;
}

/* Менопауза */
.menopause {
    display: flex;
    margin-top: 50px;
}

.menopause img {
    height: 160px;
    position: relative;
    bottom: -65px;
    right: -20px;
}

.menopause-text {
    text-align: right;
}

.menopause-text div:nth-child(1) {
    text-align: right;
}

/* Постменопауза */
.postmenopause {
    width: 40%;
    margin-left: 20%;
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.leaf {
    display: none;
    position: absolute;
    left: -3%;
    top: -235px;
    width: 20%;
}

.woman-backache {
    position: absolute;
    height: 222px;
}

.postmenopause-text {}

/* Вас может заинтересовать тест */

.may-be-interesting-container {
    text-align: center;
}

.may-be-interesting-title {
    margin: 0 40%;
    margin-top: 30px;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    color: rgb(26, 26, 30);
}

.may-be-interesting-title span {
    color: #af0e4b;
}

.may-be-interesting-description {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.description-box {
    text-align: center;
    min-width: 300px;
    width: 20%;
    flex-wrap: wrap;
}

.description-img {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-box-text {
    font-size: 100%;
    font-family: "Gotham Pro";
    font-weight: 100;
    color: rgb(26, 26, 30);
    padding-bottom: 10%;
}

/* Как диагностируют менопаузу */

.how-to-diagnose-container {
    font-family: "Gotham Pro";
    font-weight: 500;
    background: url(../img/background.png) no-repeat center/cover;
}

.how-to-diagnose-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    font-weight: 200;
    color: rgb(26, 26, 30);
    margin: 0 24%;
    padding-top: 2%;
}

.how-to-diagnose-title span {
    color: #af0e4b;
}

.how-to-diagnose-boxes {
    margin: 0 20%;
}

.how-to-diagnose-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 250px;

}

.how-to-diagnose-box-title {
    font-size: 1.5rem;
    text-align: center;
    color: #af0e4b;
}

.how-to-diagnose-box-left li {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.round:before {
    position: absolute;
    left: -55px;
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(96, 4, 54, 0.4);
}

.average-cost {
    font-size: 0.5em;
}

.how-to-diagnose-boxes {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.how-to-diagnose-box-right {
    text-align: right;
    min-width: 250px;
    width: 250px;
    position: relative;
}

.right-round {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.right-round:after {
    position: absolute;
    content: " ";
    right: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(96, 4, 54, 0.4);
}

.round-3:after {
    margin-top: 1.5vh;
}

.round-4:after {
    margin-top: -2vh;
}


.how-to-diagnose-box-center {
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 100%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(96, 4, 54, 0.4);
    border-radius: 50%;
    text-align: center;
    position: relative;
    min-width: 120px;
    width: 120px;
    height: 80px;
    margin-top: 60px;
    padding-top: 35px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
}

.frautest-image {
    position: relative;
    top: 130px;
    min-width: 250px;
    min-height: 150px;
}

.buy-btn {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    min-width: 190px;
    padding: 10px 0;
    border-radius: 35px;
    text-align: center;
    text-transform: uppercase;
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(96, 4, 54, 0.4);
    right: -20px;
    color: #fff;
    text-decoration: none;
}

/* Как использовать FRAUTEST */

.how-to-use-frautest-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.how-to-use-frautest-title {
    font-size: 2.5rem;
    font-family: "Noteworthy";
    font-weight: 200;
    color: rgb(26, 26, 30);
}

.how-to-use-frautest-title span {
    color: #af0e4b;
}

.how-to-use-frautest-img {
    height: 650px;
    margin: 2% 25%;

}

.how-to-use-frautest-text {
    margin: 0 19%;
    position: relative;
    font-size: 1.5em;
    font-family: "Gotham Pro";
    color: rgb(26, 26, 30);
    text-align: center;
    font-weight: 100;
    padding-bottom: 5vh;
}

.how-to-use-frautest-text span {
    color: #af0e4b;
}

.reading-woman {
    position: absolute;
    width: 250px;
    left: -25%;
    bottom: 0;
}

.using-container {
    background: #ededed;
}

.instruction-box {
    text-align: center;
    padding-top: 5%;
}

.instruction-title {
    width: 93%;
    margin-left: 6%;
    position: absolute;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    font-weight: 200;
    color: rgb(26, 26, 30);
}

.instruction-image {
    width: 100%;
}

.instruction-image img {
    width: 100%;
}

.how-to-read-it-box {
    text-align: center;
}

.how-to-read-it-title {
    margin-top: 1%;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    font-weight: 200;
    color: rgb(26, 26, 30);
    min-width: 400px;
}

.how-to-read-it-image img {
    width: 100%;
    margin-top: 5vh;
}


.attention-title {
    text-align: center;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    font-weight: 200;
    color: #af0e4b;
}

.attention-list {
    margin-left: 15%;
    margin-right: 10%;
    padding-bottom: 5%;
    font-size: 1.1rem;
    font-family: "Gotham Pro";
    color: rgb(26, 26, 30);
    font-weight: 200;
}

.attention-list li {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.attention-list li img {
    width: 6%;
    margin-top: 2%;
    height: auto;
}


.happy-feelings-container {
    text-align: center;
}

.happy-feelings-title {
    margin: 0 33%;
    margin-top: 5vh;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    color: rgb(26, 26, 30);
}

.happy-feelings-title span {
    color: #af0e4b;
}

.comment-container {
    margin: 0 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comment-box {
    font-family: "Gotham Pro";

}

.comment-box img {
    width: 150px;
}

.name-age {
    font-size: 2rem;
    font-weight: 400;
    color: #af0e4b;
}

.comment {
    max-width: 408px;
    min-height: 460px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.2;
}


/* Обратная связь */

.feedback {
    height: 716px;
    background: url(../img/feedback-background.png) no-repeat center center/cover;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 15%;
    padding-top: 6%;
    text-align: right;
    font-family: "Gotham Pro";
    color: rgb(175, 14, 75);
}

.qestion-title {
    font-size: 2.5em;
}

.contact-form__input {
    padding-left: 10px;
    height: 2.5rem;
    align-items: center;
    margin: 1vh 0;
    width: 380px;
    border-radius: 35px;
    border: 3px solid rgb(175, 14, 75);
    box-shadow: 0px 18px 24px 0px rgba(130, 13, 58, 0.4);
}

.contact-form__input-wrapper {
    font-size: 1em;
}

.contact-form__input_name {
    margin-top: 50px;
}

.contact-form__input feedback-message {
    height: 100px;
    resize: both;
    padding-top: 300px;
    width: 390px;
    max-width: 390px;
}

textarea {
    padding: 35px 0;
}

.contact-form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    position: absolute;
    right: 0;
    bottom: -11%;
    width: 210px;
    height: 55px;
    text-align: center;
    background-image: -moz-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -webkit-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    background-image: -ms-linear-gradient(120deg, rgb(204, 72, 121) 0%, rgb(203, 16, 87) 0%, rgb(204, 72, 121) 100%);
    box-shadow: 0px 18px 24px 0px rgba(130, 13, 58, 0.4);
    text-decoration: none;
    border-radius: 35px;
    outline: none;
    color: #fff;
}

.where-buy-container {
    text-align: center;
}

.where-buy-title {
    padding-top: 5vh;
    font-size: 2.5rem;
    font-family: "Noteworthy";
    color: rgb(26, 26, 30);
}

.where-buy-title span {
    color: #af0e4b;
}

.where-buy-text {
    margin: 3vh 25%;
    font-size: 1.5em;
    font-family: "Gotham Pro";
    color: rgb(26, 26, 30);
    font-weight: 100;
    margin-bottom: 0;
}

.partners-container {
    margin: 3% 20%;
    display: grid;
    grid-template-columns: repeat(4, 22.5%);
    grid-template-rows: repeat(2, 80px);
    margin-bottom: 0;
}


.partner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-img img {
    width: 150px;
}

.second-row {
    margin-top: 50px;
}

.before-using img {
    margin-top: 100px;
}

.before-using-text {
    width: 100%;
    font-size: 1.5em;
    font-family: "Noteworthy";
    color: rgb(175, 14, 75);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 120px;
}

.before-using {
    position: relative;
}

.footer {
    background: #ededed;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2.5rem;
    padding-bottom: 45px;
    font-weight: 100;
    font-size: 15px;
    font-family: "Gotham Pro";
    color: rgb(26, 26, 30);
    display: flex;
    margin: 0 10%;
    align-items: center;
}

.footer-logo-image {
    text-align: center;
}

.registration-number {
    width: 20%;
}

.design-by {
    text-align: right;
    text-transform: uppercase;
}